@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=== Анимация блоков  ===*/
.animate {
  animation-duration: 1s;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

/*=== Главное меню  ===*/
nav {
  max-width: 1920px;
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 5%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 5%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
}

nav ul {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(1, 252, 210, 0.2) 15%, rgba(1, 252, 210, 0.2) 85%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(7, 167, 140, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 5px 10px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #051131;
  font-weight: 900;
  text-shadow: 0px 0px 15px rgb(0, 255, 255);
  transition: all 0.5s ease-out;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(20, 224, 197, 0.7);
}

/*=== Main  ===*/
.animate-object-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 10px;
  position: relative;
  top: 0;
}

/* Стили кнопок transition */
.animate-btn-2 {
  color: #051131;
  background-color: #2ff0b0;
  box-shadow: 0 5px 0px #39c9e2;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.animate-btn-2:hover {
  color: #fff;
  padding: 0px 100px;
  box-shadow: 0 3px 0px #39c9e2;
  background-color: #1e3b88;
}

.animate-object__btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 10px;
  position: relative;
  top: 0;
}

.animate-object__btn-1 {
  color: #051131;
  background-color: #2ff0b0;
  box-shadow: 0 5px 0px #39c9e2;
  transition-duration: 1s;
}

.animate-object__btn-1:hover {
  top: 2px;
  color: #fff;
  box-shadow: 0 3px 0px #39c9e2;
  background-color: #1e3b88;
}

.animateList {
  display: flex;
}
.animateList__li {
  color: #fee;
  margin: 10px 20px;
  font-size: 25px;
  line-height: 35px;
}

/* Стили animation */
.animation-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2ff0b0;
  position: relative;
  top: 200px;
  animation-name: circle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}
@keyframes circle {
  0% {
    left: 0px;
  }
  50% {
    border-radius: 0;
  }
  100% {
    left: 400px;
    background-color: #34d0ff;
  }
}
.display {
  overflow: hidden;
  font-size: 22px;
  line-height: normal;
  padding: 90px;
  color: rgb(63, 119, 100);
  flex-basis: 50%;
  box-shadow: 0px 5px 10px 15px rgba(52, 129, 150, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  display: block;
  background: #051131 url("../media/bg3.png");
  background-attachment: fixed;
  background-size: cover;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: #97e4ca; /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(32, 80, 83); /* цвет плашки */
  border: 3px solid #97e4ca; /* padding вокруг плашки */
}

.button {
  width: 500px;
  background: #051131;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  border: #5d86c4 1px solid;
  color: #c9d9f0;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px auto;
  transition: 0.3s;
  border-radius: 0px;
}

.button:hover {
  top: 5px;
  transition: 0.5s;
  color: rgba(16, 255, 183, 0.5960784314);
  border: rgba(24, 163, 110, 0.4745098039) 1px solid;
  border-radius: 10px;
}

.border__text {
  display: flex;
}
.border__info {
  flex-basis: 50%;
}
.border__list {
  flex-basis: 50%;
  margin-left: 200px;
}

.box-column {
  display: flex;
  flex-direction: column;
}

.background-image__display {
  background-image: url("../media/linux.png");
  padding: 230px;
}

.background-position__display {
  background-repeat: no-repeat;
  background-image: url("../media/linux-small.png");
}

.background-repeat__display {
  background-repeat: no-repeat;
  background-image: url("../media/linux-small.png");
}

.background-attachment__display {
  background-repeat: no-repeat;
  background-position: 60% 40%;
  padding: 230px;
  background-image: url("../media/linux.png");
}

.background-size__display {
  background-repeat: no-repeat;
  background-image: url("../media/linux-medium.png");
  padding: 230px;
}

.background__box input {
  min-width: 800px;
}
.background__display {
  padding: 230px;
  background: #39c9e2 url("/media/linux-medium.png") 0 0/auto auto no-repeat;
}

.box {
  display: flex;
}

.color__label {
  padding: 10px 0 11px 120px;
}
.color__example input, .color__example label {
  margin-bottom: 20px;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: rgb(187, 230, 230);
  margin-right: 100px;
}

.codeLink {
  display: inline;
  background-color: transparent;
  color: rgb(33, 189, 142);
  font-weight: 900;
  transition: all 0.5s ease;
  font-size: 20px;
}
.codeLink:hover {
  color: #051131;
  text-shadow: 0 0 10px #25dba4;
}

div {
  margin-top: 15px;
}

.displ__example {
  display: flex;
  justify-content: space-between;
}
.displ__p {
  border: 2px solid rgb(41, 41, 175);
  margin: 20px 0;
  color: rgb(137, 233, 218);
  width: 400px;
}
.displ__a {
  border: 2px solid rgb(41, 41, 175);
  color: rgb(137, 233, 218);
  width: 400px;
}

.div-content {
  width: 200px;
  height: 200px;
  background: #25dba4;
}

.box-sizing__display {
  width: 410px;
  padding: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}

.example {
  padding: 0 20px;
  margin: 20px;
  text-align: left;
  overflow: hidden;
}
.example input, .example label {
  background: #051131;
  color: #c9d9f0;
  border-top: 1px solid #5d86c4;
  border-bottom: 1px solid #5d86c4;
}
.example input {
  display: inline-block;
  height: 47px;
  padding-left: 10px;
  margin-left: -6px;
}
.example label {
  display: inline-block;
  width: 200px;
  height: auto;
  padding: 10px 10px 10px 10px;
}

.font-family__text {
  display: flex;
}
.font-family__info {
  flex-basis: 60%;
  padding: 10px;
}
.font-family__type {
  flex-basis: 40%;
  padding: 10px;
}
.font-family__example {
  flex-basis: 50%;
}

.font-style__example {
  flex-basis: 50%;
}
.font-style__display {
  font-family: "Zilla Slab", serif;
}

.font-weight__display {
  font-family: Poppins, sans;
}

.footer {
  background: #051131;
  padding: 50px;
}

.FLEXBOX__display {
  display: block;
}
.FLEXBOX__container {
  display: flex;
  border: 10px solid #25dba4;
  flex-wrap: nowrap;
}
.FLEXBOX__block-1, .FLEXBOX__block-2, .FLEXBOX__block-3 {
  margin: 0;
  padding: 50px;
  border: 10px solid #2583db;
  background-color: #34d0ff;
}
.FLEXBOX__block-1 p, .FLEXBOX__block-2 p, .FLEXBOX__block-3 p {
  padding: 5px;
  color: #051131;
}
.FLEXBOX__info li {
  display: inline-block;
}
.FLEXBOX__info li::before {
  content: "";
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
}
.FLEXBOX__info li:nth-child(1)::before {
  background: #25dba4;
}
.FLEXBOX__info li:nth-child(2)::before {
  background: #2583db;
}
.FLEXBOX__info li:nth-child(3)::before {
  background: #34d0ff;
}

.FLEXBOX-flex-wrap {
  width: 300px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 25px;
  padding: 30px;
  color: rgba(20, 224, 197, 0.7);
  text-shadow: 0px 0px 5px rgb(68, 219, 219);
}

h3 {
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: rgb(172, 202, 198);
  background: linear-gradient(90deg, rgb(36, 201, 155) 0%, rgba(9, 9, 121, 0) 50%, rgb(34, 179, 208) 100%);
}

.height__display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-width {
  display: flex;
}
.half-width div, .half-width ul {
  flex-basis: 50%;
}

input {
  text-align: left;
  padding: 10px 5px 10px 0;
  font-size: 18px;
  border-right: 1px solid #5d86c4;
  margin-bottom: 10px;
}

label {
  padding: 10px 0 11px 120px;
  text-align: right;
  border-left: 1px solid #5d86c4;
  margin-bottom: 10px;
}

.link-list {
  justify-content: start;
}
.link-list a {
  font-size: 30px;
  text-align: left;
  display: block;
  line-height: 50px;
}

main {
  flex: 1 1 auto;
}

main a {
  color: rgb(33, 189, 142);
  font-weight: 900;
  transition: all 0.5s ease;
  font-size: 20px;
}
main a:hover {
  color: #051131;
  text-shadow: 0 0 10px #25dba4;
}

main li::before {
  content: "";
  background: url("../media/mar.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.margin__display {
  display: block;
  padding: 0;
  align-items: start;
}

.margin-content, .margin-content-1 {
  background: #25dba4;
  margin: 0;
  z-index: 0;
  width: 400px;
}
.margin-content p, .margin-content-1 p {
  z-index: 0;
  color: #1e3b88;
  margin: 0;
}

.margin-content-2 {
  z-index: 2;
  margin: 0;
  background: #39c9e2;
  width: 400px;
  height: 110px;
}
.margin-content-2 p {
  z-index: 2;
  margin: 0;
  color: #1e3b88;
}

.model-1 {
  margin: 0;
  padding: 10px;
  width: 200px;
  height: 200px;
  background: #25dba4;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  border: 20px solid #2583db;
}

.model-2 {
  margin: 0;
  padding: 10px;
  width: 200px;
  height: 200px;
  background: #25dba4;
  border: 20px solid #2583db;
}

.overflow-content {
  width: 500px;
}

.opacity__example {
  width: 50%;
}

p, ul, .font-family-btn {
  margin: 10px 0;
  color: rgb(187, 230, 230);
}
p li, ul li, .font-family-btn li {
  margin: 10px;
}

.padding-content, .padding-content-1 {
  background: #25dba4;
  margin: 0;
}
.padding-content p, .padding-content-1 p {
  color: #1e3b88;
  margin: 0;
}

.padding-content-2 {
  margin: 0;
  background: #39c9e2;
}
.padding-content-2 p {
  margin: 0;
  color: #1e3b88;
}

.padding__box {
  margin: 40px 0;
}
.padding__example input {
  display: inline-block;
  height: 47px;
  padding-left: 10px;
  margin-left: -5px;
}
.padding__example label {
  display: inline-block;
  width: 200px;
  height: auto;
  padding: 10px 10px 10px 10px;
}

.position__display {
  max-width: 1200px;
  overflow: visible;
  display: block;
  padding: 50px;
  margin: 30px 0;
  height: 500px;
  overflow: auto;
  position: relative;
}
.position__display::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
.position__display::-webkit-scrollbar-track {
  background: rgba(151, 228, 202, 0.3882352941); /* цвет дорожки */
}
.position__display::-webkit-scrollbar-thumb {
  background-color: rgb(32, 80, 83); /* цвет плашки */
  border: 3px solid rgba(151, 228, 202, 0.3764705882); /* padding вокруг плашки */
}
.position__example {
  display: flex;
  flex-basis: fill;
  flex: 0 1 fill;
  justify-content: space-around;
}
.position__example label, .position__example input {
  max-width: 120px;
}
.position__example p {
  text-align: center;
}
.position__example button {
  max-width: 250px;
}
.position__block-1 {
  height: 90px;
  line-height: 90px;
  background: #2ff0b0;
  margin: 0;
  color: #051131;
  text-align: center;
}
.position__block-2 {
  margin: 0;
  height: 90px;
  line-height: 90px;
  background: #5dfff1;
  color: #051131;
  text-align: center;
}
.position__block-3 {
  text-align: center;
  margin: 0;
  height: 90px;
  line-height: 90px;
  background: #34d0ff;
  color: #051131;
}

section {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 0;
}

.sample {
  margin: 0;
  width: 200px;
  height: 200px;
  background: #39c9e2;
  color: #051131;
  padding: 10px;
}

.width__display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.visibility__example {
  width: 50%;
}